
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<!--footer-main-panel-->
		<div class="footer-main-panel">
			<div class="info-inner-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<div class="logo-image">
							<img src="./img/main/logo.svg" alt="">
						</div>
						<div class="logo-title">- changer</div>
					</a>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn button-medium button-cleft button-cright button-skew-both">
						<div class="button-content">
							<div class="button-ico">
								<img src="./img/icons/soc-tg.svg" alt="">
							</div>
							<div class="button-title">Telegram</div>
						</div>
					</a>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<ul class="menu">
					<li><a href="" class="btn-menu">Соглашение</a></li>
					<li><a href="" class="btn-menu">AML политика</a></li>
					<li><a href="" class="btn-menu">Партнерам</a></li>
				</ul>
			</div>
			<div class="actions-inner-wrap">
				<div class="action-wrap">
					<a href="" class="btn button-medium button-gray button-skew-both">
						<div class="button-content">
							<div class="button-title">Оператор:</div>
							<div class="button-ico">
								<img src="./img/icons/online.svg" alt="">
							</div>
							<div class="button-title">Online</div>
						</div>
					</a>
				</div>
				<div class="action-wrap">
					<div class="elm-ico">
						<img src="./img/icons/shedule.svg" alt="">
					</div>
					<div class="action-title">Ежедневно с 10:00 до 22:00 UTC-3</div>
				</div>
				<div class="action-wrap">
					<a href="" class="btn button-clear">
						<div class="button-ico">
							<img src="./img/icons/email.svg" alt="">
						</div>
						<div class="button-title">support@matrix-changer.com</div>
					</a>
				</div>
			</div>
		</div>
		<!--/footer-main-panel-->
		<!--footer-bottom-panel-->
		<div class="footer-bottom-panel">
			<div class="info-inner-wrap">
				<div class="info-wrap">
					<p>© Matrix-changer 2024 Все права защищены</p>
				</div>
				<div class="info-wrap">
					<p>Разработка сайта: <a href="">miridea.ru</a></p>
				</div>
			</div>
		</div>
		<!--/footer-bottom-panel-->
	</div>
	<a href="" class="btn button-chat button-cleft">
		<div class="button-content">
			<div class="button-ico">
				<img src="./img/icons/chat.svg" alt="">
			</div>
		</div>
	</a>
</footer>
<!-- /footer -->


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-reg">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close-small js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Регистрация</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Ваше имя">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="email" class="form-input" placeholder="Email">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="password" class="form-input" placeholder="Пароль">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="password" class="form-input" placeholder="Повторить пароль">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn button-cleft">
							<div class="button-content">
								<div class="button-title">Зарегистрироваться</div>
							</div>
						</button>
					</div>
					<div class="frm-field field-info">Нажимая на кнопку “Зареистрироваться” вы соглашаетесь с <a href="" class="link-main">политикой конфиденциальности</a></div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-login">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close-small js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Вход</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Логин">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="password" class="form-input" placeholder="Пароль">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn button-cleft">
							<div class="button-content">
								<div class="button-title">Войти</div>
							</div>
						</button>
					</div>
					<div class="frm-field field-links">
						<div class="field-link">
							<a href="">Забыли пароль?</a>
						</div>
						<div class="field-link">
							<a href="" class="link-att js-popup-open" data-popup="popup-reg">Регистрация</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->