
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<!--footer-main-panel-->
		<div class="footer-main-panel">
			<div class="info-inner-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<div class="logo-image">
							<img src="./img/main/logo.svg" alt="">
						</div>
						<div class="logo-title">- changer</div>
					</a>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn button-medium button-cleft button-cright button-skew-both">
						<div class="button-content">
							<div class="button-ico">
								<img src="./img/icons/soc-tg.svg" alt="">
							</div>
							<div class="button-title">Telegram</div>
						</div>
					</a>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<ul class="menu">
					<li><a href="" class="btn-menu">Соглашение</a></li>
					<li><a href="" class="btn-menu">AML политика</a></li>
					<li><a href="" class="btn-menu">Партнерам</a></li>
				</ul>
			</div>
			<div class="actions-inner-wrap">
				<div class="action-wrap">
					<a href="" class="btn button-medium button-gray button-skew-both">
						<div class="button-content">
							<div class="button-title">Оператор:</div>
							<div class="button-ico">
								<img src="./img/icons/online.svg" alt="">
							</div>
							<div class="button-title">Online</div>
						</div>
					</a>
				</div>
				<div class="action-wrap">
					<div class="elm-ico">
						<img src="./img/icons/shedule.svg" alt="">
					</div>
					<div class="action-title">Ежедневно с 10:00 до 22:00 UTC-3</div>
				</div>
				<div class="action-wrap">
					<a href="" class="btn button-clear">
						<div class="button-ico">
							<img src="./img/icons/email.svg" alt="">
						</div>
						<div class="button-title">support@matrix-changer.com</div>
					</a>
				</div>
			</div>
		</div>
		<!--/footer-main-panel-->
		<!--footer-bottom-panel-->
		<div class="footer-bottom-panel">
			<div class="info-inner-wrap">
				<div class="info-wrap">
					<p>© Matrix-changer 2024 Все права защищены</p>
				</div>
				<div class="info-wrap">
					<p>Разработка сайта: <a href="">miridea.ru</a></p>
				</div>
			</div>
		</div>
		<!--/footer-bottom-panel-->
	</div>
</footer>
<!-- /footer -->