
<!-- header -->
<header class="header">
	<div class="inner-wrap mobile-elements-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<div class="logo-image">
					<img src="./img/main/logo.svg" alt="">
				</div>
				<div class="logo-title">- changer</div>
			</a>
		</div>
		<div class="mobile-actions-wrap">
			<div class="action-wrap">
				<a href="" class="btn-action-ico">
					<img src="./img/icons/email.svg" alt="">
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-ico">En</a>
			</div>
		</div>
		<div class="mobile-auth-wrap auth-inner-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-user js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li>
						<a href="" class="btn button-medium button-border button-cleft button-cright">
							<div class="button-content">
								<div class="button-title">Вход</div>
							</div>
						</a>
					</li>
					<li>
						<a href="" class="btn button-medium button-cleft button-cright">
							<div class="button-content">
								<div class="button-title">Регистрация</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="inner-wrap mobile-menu-wrap js-popup-wrap">
		<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
		<div class="popup-content-block js-popup-block">
			<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close"></a>
			<!--header-top-panel-->
			<div class="header-top-panel">
				<div class="info-inner-wrap">
					<div class="info-wrap">
						<div class="info-title">Оператор:</div>
						<div class="info-value">
							<a href="" class="btn button-clear">
								<div class="button-ico">
									<img src="./img/icons/online.svg" alt="">
								</div>
								<div class="button-title">Online</div>
							</a>
						</div>
					</div>
					<div class="info-wrap">
						<div class="info-title">График работы:</div>
						<div class="info-value">Ежедневно с 10:00 до 22:00 UTC-3</div>
					</div>
				</div>
				<div class="actions-inner-wrap">
					<div class="action-wrap">
						<a href="" class="btn button-clear">
							<div class="button-ico">
								<img src="./img/icons/email.svg" alt="">
							</div>
							<div class="button-title">support@matrix-changer.com</div>
						</a>
					</div>
					<div class="action-wrap">
						<a href="" class="btn-action-ico">En</a>
					</div>
				</div>
			</div>
			<!--/header-top-panel-->
			<!--header-main-panel-->
			<div class="header-main-panel">
				<div class="logo-inner-wrap">
					<a href="" class="logo">
						<div class="logo-image">
							<img src="./img/main/logo.svg" alt="">
						</div>
						<div class="logo-title">- changer</div>
					</a>
				</div>
				<div class="menu-inner-wrap">
					<ul class="menu">
						<li><a href="" class="btn-menu">Соглашение</a></li>
						<li><a href="" class="btn-menu">AML политика</a></li>
						<li><a href="" class="btn-menu">Партнерам</a></li>
					</ul>
				</div>
				<div class="auth-inner-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn button-medium button-border button-cleft button-cright button-skew-both">
								<div class="button-content">
									<div class="button-title">Вход</div>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="btn button-medium button-border button-cleft button-cright button-skew-both">
								<div class="button-content">
									<div class="button-title">Регистрация</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!--/header-main-panel-->
		</div>
	</div>
</header>
<!-- /header -->